<launch>
	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" >
		<param name="_video_device" value="/dev/video1" />
		<param name="_pixel_format" value="yuyv" />
		<param name="_camera_name" value="tracker_camera" />
	</node>
	<node name="motor_control_node" pkg="hackathon_project_day3" type="subscriber" />
	<node name="webcam_tracking_node" pkg="hackathon_project_day3" type="publisher" />
	<node name="user_input_node" pkg="hackathon_project_day3" type="publisher" />
</launch>
